[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-' + env + '/data/cart:REDIS_HOST url=http://vault-internal.maidevops.fun:8200 auth_method=token token=' + token) }}"
Environment=CATALOGUE_HOST="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-' + env + '/data/cart:CATALOGUE_HOST url=http://vault-internal.maidevops.fun:8200 auth_method=token token=' + token) }}"
Environment=CATALOGUE_PORT="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-' + env + '/data/cart:CATALOGUE_PORT url=http://vault-internal.maidevops.fun:8200 auth_method=token token=' + token) }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target